RewriteEngine on

RewriteCond %{HTTPS} !on [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301]

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

ErrorDocument 401 /view/errorView.php
ErrorDocument 403 /view/errorView.php
ErrorDocument 404 /view/errorView.php
ErrorDocument 500 /view/errorView.php


